pip install: 
	dnspython
	motor
	pygrok
	pymongo
	pysimplegui

import:
	import datetime
	import hashlib
	from pygrok import Grok
	import time
	from datetime import datetime as dt
	import pymongo
	import motor

Instructions to access database: https://realpython.com/introduction-to-mongodb-and-python/


